<app-spinner *ngIf="loading"></app-spinner>
<ng-container *ngIf="!loading">
<section id="car-listings">

    <h1>Car Listings</h1>
    <div class="listings">

    <ng-container *ngIf="view">

        <!-- Display all records -->
        <div class="listing" *ngFor="let car of cars">
            <div class="preview">
                <img src="{{car.image}}" alt="Audi A3">
            </div>
            <h2>{{car.brand}} {{car.model}}</h2>
            <div class="info">
                <div class="data-info">
                    <h3>Year: {{car.year}}</h3>
                    <h3>Price: {{car.price}} $</h3>
                </div>
                <div class="data-buttons">
                    <a routerLink="/data/details/{{car._id}}" class="button-carDetails">Details</a>
                </div>
            </div>
        </div>
    </ng-container>
       
        <!-- Display if there are no records -->
        <ng-container *ngIf="!view">
            <p class="no-cars">You haven't listed any cars yet.</p>
        </ng-container>
        
    </div>
</section>
</ng-container>

