<section id="create-listing">
    <div class="container">
        <form id="create-form" [formGroup]="formCreate" (ngSubmit)="onSubmit()">
            
            <h1>Create Car Listing</h1>
            <p>Please fill in this form to create an listing.</p>
            <hr>

            <!-- BRAND -->
            <div class="icons">
                <p class="heading">Car Brand</p>
                <input type="text" formControlName="brand"  placeholder="Enter Car Brand" name="brand">
            </div>
            <ng-container *ngIf="formCreate.get('brand')?.touched">
                <p *ngIf="formCreate.get('brand')?.errors?.['required']" class="errors">Brand is Required</p>
            </ng-container>



            <!-- MODEL -->
            <div class="icons">
                <p class="heading">Car Model</p>
                <input type="text" formControlName="model"  placeholder="Enter Car Model" name="model">
            </div>
            <ng-container *ngIf="formCreate.get('model')?.touched">
                <p *ngIf="formCreate.get('model')?.errors?.['required']" class="errors">Model is Required</p>
            </ng-container>



            <!-- DESCRIPTION -->
            <div class="icons">
                <p class="heading">Description</p>
                <input type="text" formControlName="description" placeholder="Enter Description" name="description">
            </div>
            <ng-container *ngIf="formCreate.get('description')?.touched">
                <p *ngIf="formCreate.get('description')?.errors?.['required']" class="errors">Description is Required</p>
                <p *ngIf="formCreate.get('description')?.errors?.['minlength']" class="errors">Description must be at least {{formCreate.get('description')?.errors?.['minlength']['requiredLength']}} characters</p>
            </ng-container>
            <!-- YEAR -->


            <div class="icons">
                <p class="heading">Car Year</p>
                <input type="number" formControlName="year" placeholder="Enter Car Year" name="year">
            </div>
            <ng-container *ngIf="formCreate.get('year')?.touched">
                <p *ngIf="formCreate.get('year')?.errors?.['required']" class="errors">Year is Required</p>
                <p *ngIf="formCreate.get('year')?.errors?.['min']" class="errors">The Year must be after 1990</p>
                <p *ngIf="formCreate.get('year')?.errors?.['max']" class="errors">The Year must not be up to 2023</p>
            </ng-container>



            <!-- IMAGE -->
            <div class="icons">
                <p class="heading">Car Image</p>
                <input type="text" formControlName="image" placeholder="Enter Car Image" name="image">
            </div>
            <ng-container *ngIf="formCreate.get('image')?.touched">
                <p *ngIf="formCreate.get('image')?.errors?.['required']" class="errors">Photo is Required</p>
                <p *ngIf="formCreate.get('image')?.errors?.['pattern']" class="errors">Photo must starts with http or https </p>
            </ng-container>
            <!-- PRICE -->


            <div class="icons">
                <p class="heading">Car Price</p>
                <input type="number" formControlName="price" placeholder="Enter Car Price" name="price">
            </div>
            <ng-container *ngIf="formCreate.get('price')?.touched">
                <p *ngIf="formCreate.get('price')?.errors?.['required']" class="errors">Price is Required</p>
            </ng-container>
            <hr>
            <input [disabled]="formCreate.invalid"  type="submit" class="registerbtn" value="Create Listing">
        </form>
    </div>
</section>